APP_NAME=tcg-vault
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tcgvault.cativo.dev

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=tcg_vault
DB_USERNAME=tcg_vault
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_CLIENT=predis

QUEUE_CONNECTION=redis
CACHE_STORE=redis
SESSION_DRIVER=redis
SESSION_DOMAIN=tcgvault.cativo.dev

TCGVAULT_ADMIN_USERNAME=cativo23

MAIL_MAILER=resend
RESEND_KEY=
MAIL_FROM_ADDRESS=tcgvault@cativo.dev
MAIL_FROM_NAME="${APP_NAME}"

TCGDEX_BASE_URL=https://api.tcgdex.net/v2/en
