APP_NAME=tcg-vault
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tcgvault.cativo.dev

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=tcg_vault
DB_USERNAME=tcg_vault
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_CLIENT=predis

QUEUE_CONNECTION=redis
CACHE_STORE=redis
SESSION_DRIVER=redis
SESSION_DOMAIN=tcgvault.cativo.dev
SESSION_LIFETIME=525600
SESSION_SECURE_COOKIE=true

FILESYSTEM_DISK=public

LOG_CHANNEL=stderr
LOG_LEVEL=warning

TCGVAULT_ADMIN_USERNAME=cativo23
TCGVAULT_ADMIN_EMAIL=
TCGVAULT_ADMIN_PASSWORD=
TCGVAULT_ALLOW_REGISTRATION=false

MAIL_MAILER=resend
RESEND_API_KEY=
MAIL_FROM_ADDRESS=tcgvault@cativo.dev
MAIL_FROM_NAME=tcg-vault

TCGDEX_BASE_URL=https://api.tcgdex.net/v2/en

LOG_CHANNEL=daily
LOG_DAILY_DAYS=14
